.banner {
	height: 25px;
	background-color: #7f449d;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	font-size: 14px;
	color: white;

	a {
		color: inherit;

		&:hover {
			text-decoration: underline;
		}
	}
}
